@import
url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-sizes-start */
body {
    background-color: #ededed;
}

h1 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}

h2 {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
}

h3 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

h4 {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

h5 {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}
/* font-sizes-start */

/* general-start */
.no-margin {
    margin: 0;
}

.no-border {
    border: none;
}

.text-center {
    text-align: center;
}

.no-radius {
    border-radius: 0;
}

.bold {
    font-weight: bold;
}
/* general-end */

/* navbar-start */
.offcanvas {
    width: 65% !important;
}

.nav-btns {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
}

.nav-btns:hover {
    color: #982a1c;
    text-decoration: underline;
}

.sale-btn {
    color: #B73A2A;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
}
/* navbar-end */

/* logo-start */
.logo {
    width: 2.5em;
    border-radius: 7px;
}
/* logo-end */

/* hero-start */
.hero-grid {
    display: grid;
    grid-template-columns: 0.5em repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
}

.hero-img {
    background-image: url("../assets/images for use on website/hero.jpg");
    aspect-ratio: 4/3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / span 3;
    grid-row: 1 / span 6;
}

.hero-text-bg {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    grid-column: 2 / span 1;
    grid-row: 5;
}

.hero-text {
    margin: 0.4em 0em;
}
/* hero-end */

/* sale-start */
.sale-bg {
    color: white;
    background-color: #1e2c20;
}

.sale-text {
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    padding-top: 1em;
    padding-bottom: 1em;
}
/* sale-end */

/* cooking-start */
.cooking-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    margin: 0 auto;
    width: 90%;
}

.cooking-text {
    margin-top: 20px;
}

.cooking-img {
    border-radius: 10px;
    overflow: hidden;
}

.cooking-img img{
    aspect-ratio: 1/1;
    width: 100%;
}

.cooking-img img:hover{
    transition: transform;
    transform: scale(1.1);
}

.cooking-title {
    margin: 1.5em auto;
}
/* cooking-end */

/* arrivals-start */
.arrivals-img {
    margin: 0 auto;
    width: 90%;
}

.arrivals-img img{
    aspect-ratio: 4/3;
    width: 100%;
}

.arrivals-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fall-collect {
    margin-top: 15px;
}

.fall-p {
    margin-bottom: 5px;
}

.color-picker {
    margin-bottom: 60px;
}

.arrivals-img img:hover{
    -webkit-filter: brightness(85%);
}
/* arrivals-end */

/* best-start */
.cardBody {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    border: solid black 1px;
    border-radius: 10px;
}

.best-img {
    margin: 0 auto;
    margin-top: 10px;
    width: 95%;
}


.best-pop {
    border-radius: 10px;
    overflow: hidden;
}

.best-img img{
    border-radius: 10px;
    aspect-ratio: 4/3;
    width: 100%;
}

.best-img img:hover {
    transition: transform;
    transform: scale(1.1);
}

.shop-btn {
    color: #292828;
    background-color: transparent;
    border: solid #292828 1px;
    margin-bottom: 10px;
    width: 10em;
    height: 2.5em;
}

.shop-btn:hover {
    background-color: #292828;
    color: white;
}

.best-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bake-p {
    margin-bottom: 7em;
}
/* best-end */

/* reviews-start */
.text-backing {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
}

.background-image {
    display: flex;
    align-items: center;
    aspect-ratio: 2/3;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 40px auto;
    width: 95%;
    border-radius: 10px;
}

.david {
    background-image: url("../assets/images for use on website/Reviews1.jpg");
}

.danielle {
    background-image: url("../assets/images for use on website/Reviews2.jpg");
    background-position: center;
}

.michelle {
    background-image: url("../assets/images for use on website/Reviews3.jpg");
    margin-bottom: 0px;
}

.review-title {
    margin-top: 60px;
    margin-bottom: 40px;
}

.review {
    margin-top: 1em;
}

.review-p {
    margin: 0.5em auto;
    width: 85%;
}

.review-name {
    margin-bottom: 2.5em;
}
/* reviews-end */

/* footer-start */
.footer-bg {
    background-color: #1e2c20;
    color: white;
}

.foot-side-padding {
    margin: 0 auto;
    width: 90%;
}

.foot-top-padding {
    padding-top: 60px;
}

.foot-bottom-padding {
    padding-bottom: 80px;
}

.email-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 2.5em);
    gap: 10px;
    margin: 0 auto;
    width: 90%;
}

.subscribe-btn {
    background-color: transparent;
    color: white;
    border: solid white 1px;
    border-radius: 0;
    grid-column: 2;
    width: 100%;
    height: 100%;
}

.form-control {
    font-size: 12px;
}

.input-group {
    width: 100%;
    height: 100%;
}

.bi {
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 35px;
}

.more-info-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin: 0 auto;
    width: 90%;
}

.info-margin {
    margin-bottom: 35px;
}
/* footer-end */

/* responsiveness-start */
@media (max-width:992px){
    #desktop-navbar {
        display: none;
    }
}

@media (min-width: 992px){
    #mobile-navbar {
        display: none;
    }

    .nav-item-flex {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 4em;
        border-radius: 5px;
        margin-left: 3em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .nav-btns {
        margin-bottom: 0;
    }

    .hero-grid {
        display: grid;
        grid-template-columns: 3.5em repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
    }

    .hero-text-bg {
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        grid-column: 2 / span 1;
        grid-row: 5;
    }
    
    .hero-text {
        margin: 0.5em 0em;
        font-weight: 400;
        font-size: 48px;
    }

    .sale-text {
        font-weight: 400;
        font-size: 24px;
    }

    .cooking-title {
        margin-top: 6em;
        margin-bottom: 2em;
    }

    .cooking-text {
        font-weight: 700;
        font-size: 64px;
    }

    .cooking-grid {
        grid-template-columns: 3em repeat(4, 1fr) 3em;
        grid-template-rows: repeat(1, auto);
        gap: 40px;
        margin: 0;
        width: 100%;
    }
    
    .cast-pot-desk {
        grid-column: 2;
    }

    .cooking-txt {
        font-weight: 600;
        font-size: 36px;
    }

    .arrivals-txt {
        font-weight: 700;
        font-size: 64px;
    }

    .arrivals-title {
        margin-top: 6em;
        margin-bottom: 3em;
    }

    .arrivals-desk-grid {
        display: grid;
        grid-template-columns: 3em repeat(2, 1fr) 3em;
        gap: 35px;
    }

    .arrivals-img {
        margin: 0 0;
        width: 100%;
    }

    .arriv-one {
        grid-column: 2;
    }

    .fall-collect {
        font-weight: 700;
        font-size: 36px;
    }

    .fall-p {
        font-weight: 400;
        font-size: 18px;
    }

    .fall-p-desk {
        font-weight: 400;
        font-size: 18px;
    }

    .best-text {
        font-weight: 700;
        font-size: 64px;
    }

    .best-title {
        margin-top: 4em;
        margin-bottom: 3em;
    }

    .best-desk-grid {
        display: grid;
        grid-template-columns: 3em repeat(3, auto) 3em;
        gap: 40px;
    }

    .card-1 {
        grid-column: 2;
    }

    .card-text {
        height: 100%;
    }

    .review-title {
        margin-top: 9em;
        margin-bottom: 3em;
    }

    .review-text {
        font-weight: 700;
        font-size: 64px;
    }

    .review-desk-grid {
        display: grid;
        grid-template-columns: 3em repeat(3, 1fr) 3em;
        gap: 30px;
    }

    .background-image {
        margin: 0;
        margin-bottom: 7em;
        width: 100%;
    }

    .david {
        grid-column: 2;
    }

    .review {
        font-weight: 700;
        font-size: 40px;
    }

    .review-p {
        font-weight: 400;
        font-size: 18px;
    }

    .review-name {
        font-weight: 400;
        font-size: 20px;
    }

    .footer-desk-grid {
        display: grid;
        grid-template-columns: 3em 6fr 5fr;
        grid-template-rows: 6em auto 2em;
    }

    .foot-second-half {
        grid-column: 3;
        margin: 0 auto;
        width: 50%;
        grid-row: 2;
    }

    .foot-first-half {
        grid-column: 2;
        grid-row: 2;
    }

    .more-info-grid {
        grid-template-columns: repeat(3, auto);
    }

    .foot-side-padding {
        margin: 0 0;
        width: 100%;
    }
    
    .foot-top-padding {
        padding-top: 0;
    }
    
    .foot-bottom-padding {
        padding-bottom: 0;
    }

    .email-grid {
        grid-template-columns: 3fr 2fr;
        margin: 0;
        width: 100%;
    }

    .subscribe-btn {
        width: 100%;
    }
}
/* responsiveness-end */